In [2]:
import json
import pandas as pd
# make sure you have the latest version of sigmoid_check installed with !pip install sigmoid_check --upgrade
from sigmoid_check.excalibur import *

In [35]:
# Given a list of dictionaries `data`, create a pandas DataFrame named `df_from_dict`.
@check_pandas_1
def pandas_1(data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    df_from_dict = pd.DataFrame(data)
    print(df_from_dict)
    # ABOVE GOES YOUR CODE
    return {"df_from_dict": df_from_dict}

pandas_1()

   A  B
0  1  2
1  3  4
2  5  6
✅ Great job! Exercise completed successfully.

In [36]:
# Create a pandas Series named `series_from_list` from a list of floats `float_list`, with no index specified.
@check_pandas_2
def pandas_2(float_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    series_from_list = pd.Series(float_list)
    print(series_from_list)
    # ABOVE GOES YOUR CODE
    return {"series_from_list": series_from_list}

pandas_2()

0    1.1
1    2.2
2    3.3
dtype: float64
✅ Great job! Exercise completed successfully.

In [37]:
# Given a dictionary `dict_data` containing country names as keys and populations as values, create a pandas Series named `country_population`, using the dictionary keys as index.
@check_pandas_3
def pandas_3(dict_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    country_population = pd.Series(dict_data)
    print(country_population)
    # ABOVE GOES YOUR CODE
    return {"country_population": country_population}

pandas_3()

USA       328200000
China    1439323776
India    1380004385
dtype: int64
✅ Great job! Exercise completed successfully.

In [38]:
# From a pandas Series `series_population`, access the index and save it in a variable `population_index`.
@check_pandas_4
def pandas_4(series_population):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    population_index = series_population.index
    print(population_index)
    # ABOVE GOES YOUR CODE
    return {"population_index": population_index}

pandas_4()

Index(['USA', 'China', 'India'], dtype='object')
✅ Great job! Exercise completed successfully.

In [39]:
# Using a pandas Series `series_temperatures`, extract the values and store them in a variable `temperature_values`.
@check_pandas_5
def pandas_5(series_temperatures):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    temperature_values = series_temperatures.values
    print(temperature_values)
    # ABOVE GOES YOUR CODE
    return {"temperature_values": temperature_values}

pandas_5()

[25 30 35 40 45]
✅ Great job! Exercise completed successfully.

In [40]:
# For a pandas Series `series_ages`, get the data type of the elements in the series and store it in a variable `ages_dtype`.
@check_pandas_6
def pandas_6(series_ages):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    ages_dtype = series_ages.dtype
    print(ages_dtype)
    # ABOVE GOES YOUR CODE
    return {"ages_dtype": ages_dtype}

pandas_6()

int64
✅ Great job! Exercise completed successfully.

In [41]:
# From a Series `series_custom_index` with a custom index, access the element with index 'A' and store it in a variable `element_A`.
@check_pandas_7
def pandas_7(series_custom_index):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    element_A = series_custom_index['A']
    print(element_A)
    # ABOVE GOES YOUR CODE
    return {"element_A": element_A}

pandas_7()

10
✅ Great job! Exercise completed successfully.

In [42]:
# Using a pandas Series `series_items`, slice the series to contain elements with indices from 'b' to 'd', inclusive, and save it into `sliced_series`.
@check_pandas_8
def pandas_8(series_items):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    sliced_series = series_items['b':'d']
    print(sliced_series)
    # ABOVE GOES YOUR CODE
    return {"sliced_series": sliced_series}

pandas_8()

b    20
c    30
d    40
dtype: int64
✅ Great job! Exercise completed successfully.

In [43]:
# From a Series `series_prices`, select elements with custom indices ['apple', 'banana', 'cherry'] and store them in `selected_prices`.
@check_pandas_9
def pandas_9(series_prices):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    selected_prices = pd.Series(series_prices, index=['apple', 'banana', 'cherry'])
    print(selected_prices)
    # ABOVE GOES YOUR CODE
    return {"selected_prices": selected_prices}

pandas_9()

apple     2.5
banana    1.5
cherry    3.0
dtype: float64
✅ Great job! Exercise completed successfully.

In [44]:
# Create a DataFrame `df_custom` from a list of lists `list_of_lists_data`, ensuring to label the columns as 'A', 'B', 'C'.
@check_pandas_10
def pandas_10(list_of_lists_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    df_custom = pd.DataFrame(list_of_lists_data, columns=['A', 'B', 'C'])
    print(df_custom)
    # ABOVE GOES YOUR CODE
    return {"df_custom": df_custom}

pandas_10()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
✅ Great job! Exercise completed successfully.

In [45]:
# Given a list of tuples `data_tuples`, create a DataFrame named `df_from_tuples` and rename its columns to 'X', 'Y', 'Z'.
@check_pandas_11
def pandas_11(data_tuples):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    df_from_tuples = pd.DataFrame(data_tuples, columns=['X', 'Y', 'Z'])
    print(df_from_tuples)
    # ABOVE GOES YOUR CODE
    return {"df_from_tuples": df_from_tuples}

pandas_11()

   X  Y  Z
0  1  2  3
1  4  5  6
2  7  8  9
✅ Great job! Exercise completed successfully.

In [46]:
# Using DataFrame `df_sales`, access and store the column names in variable `sales_columns`.
@check_pandas_12
def pandas_12(df_sales):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    sales_columns = df_sales.columns
    print(sales_columns)
    # ABOVE GOES YOUR CODE
    return {"sales_columns": sales_columns}

pandas_12()

Index(['Product', 'Sales'], dtype='object')
✅ Great job! Exercise completed successfully.

In [47]:
# Store the index of the DataFrame `df_employees` in a variable `employees_index`.
@check_pandas_13
def pandas_13(df_employees):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    employees_index = df_employees.index
    print(employees_index)
    # ABOVE GOES YOUR CODE
    return {"employees_index": employees_index}

pandas_13()

Index(['A', 'B', 'C'], dtype='object')
✅ Great job! Exercise completed successfully.

In [48]:
# Retrieve the values from DataFrame `df_weather` and save them into `weather_values`.
@check_pandas_14
def pandas_14(df_weather):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    weather_values = df_weather.values
    print(weather_values)
    # ABOVE GOES YOUR CODE
    return {"weather_values": weather_values}

pandas_14()

[['New York' 25]
 ['Los Angeles' 30]
 ['Chicago' 20]]
✅ Great job! Exercise completed successfully.

In [49]:
# Determine the shape of the DataFrame `df_financials` and store it in a variable `financials_shape`.
@check_pandas_15
def pandas_15(df_financials):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    financials_shape = df_financials.shape
    print(financials_shape)
    # ABOVE GOES YOUR CODE
    return {"financials_shape": financials_shape}

pandas_15()

(3, 2)
✅ Great job! Exercise completed successfully.

In [50]:
# Get the data types of each column in DataFrame `df_customer_info` and store them in a variable `customer_info_dtypes`.
@check_pandas_16
def pandas_16(df_customer_info):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    customer_info_dtypes = df_customer_info.dtypes
    print(customer_info_dtypes)
    # ABOVE GOES YOUR CODE
    return {"customer_info_dtypes": customer_info_dtypes}

pandas_16()

Name    object
Age      int64
dtype: object
✅ Great job! Exercise completed successfully.

In [51]:
# Using the DataFrame `df_transactions`, get the first 5 rows and store them in `transactions_head`.
@check_pandas_17
def pandas_17(df_transactions):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    transactions_head = df_transactions.head()
    print(transactions_head)
    # ABOVE GOES YOUR CODE
    return {"transactions_head": transactions_head}

pandas_17()

   Transaction ID  Amount
0               1     100
1               2     200
2               3     300
3               4     400
4               5     500
✅ Great job! Exercise completed successfully.

In [52]:
# Retrieve the last 3 rows from DataFrame `df_activities` and save them into `activities_tail`.
@check_pandas_18
def pandas_18(df_activities):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    activities_tail = df_activities.tail(3)
    print(activities_tail)
    # ABOVE GOES YOUR CODE
    return {"activities_tail": activities_tail}

pandas_18()

  Activity  Duration
2        C        30
3        D        40
4        E        50
✅ Great job! Exercise completed successfully.

In [53]:
# Get a summary of information about DataFrame `df_inventory`, storing the result in a variable `inventory_info`.
@check_pandas_19
def pandas_19(df_inventory):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    inventory_info = df_inventory.info()
    print(inventory_info)
    # ABOVE GOES YOUR CODE
    return {"inventory_info": inventory_info}

pandas_19()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   3 non-null      object
 1   Quantity  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None
✅ Great job! Exercise completed successfully.

In [54]:
# For the DataFrame `df_scores`, generate descriptive statistics and store them in `scores_statistics`.
@check_pandas_20
def pandas_20(df_scores):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    scores_statistics = df_scores.describe()
    print(scores_statistics)
    # ABOVE GOES YOUR CODE
    return {"scores_statistics": scores_statistics}

pandas_20()

       Score
count    3.0
mean    85.0
std      5.0
min     80.0
25%     82.5
50%     85.0
75%     87.5
max     90.0
✅ Great job! Exercise completed successfully.

In [55]:
# Use DataFrame `df_orders` to create a boolean mask `orders_non_missing`, detecting non-missing values.
@check_pandas_21
def pandas_21(df_orders):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    orders_non_missing = df_orders.notnull()
    print(orders_non_missing)
    # ABOVE GOES YOUR CODE
    return {"orders_non_missing": orders_non_missing}

pandas_21()

   Order ID  Amount
0      True    True
1     False    True
2      True   False
✅ Great job! Exercise completed successfully.

In [56]:
# Drop rows with missing values in DataFrame `df_stats` and save the result into `cleaned_stats`.
@check_pandas_22
def pandas_22(df_stats):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    cleaned_stats = df_stats.dropna(axis=0)
    print(cleaned_stats)
    # ABOVE GOES YOUR CODE
    return {"cleaned_stats": cleaned_stats}

pandas_22()

     A    B
0  1.0  4.0
✅ Great job! Exercise completed successfully.

In [57]:
# From DataFrame `df_statistics`, drop columns with missing values and store the result into `statistics_cleaned`.
@check_pandas_23
def pandas_23(df_statistics):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    statistics_cleaned = df_statistics.dropna(axis=1)
    print(df_statistics)
    print(statistics_cleaned)
    # ABOVE GOES YOUR CODE
    return {"statistics_cleaned": statistics_cleaned}

pandas_23()

     A    B
0  1.0  4.0
1  2.0  NaN
2  NaN  6.0
Empty DataFrame
Columns: []
Index: [0, 1, 2]
✅ Great job! Exercise completed successfully.

In [58]:
# Fill missing values in DataFrame `df_grades` with 0 and store the resultant DataFrame in `filled_grades`.
@check_pandas_24
def pandas_24(df_grades):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_grades)
    filled_grades = df_grades.fillna(0)
    print(filled_grades)
    # ABOVE GOES YOUR CODE
    return {"filled_grades": filled_grades}

pandas_24()

     A    B
0  1.0  4.0
1  2.0  NaN
2  NaN  6.0
     A    B
0  1.0  4.0
1  2.0  0.0
2  0.0  6.0
✅ Great job! Exercise completed successfully.

In [59]:
# Apply backward fill on DataFrame `df_sales_data` for missing values and save it into `filled_bfill_sales_data`.
@check_pandas_25
def pandas_25(df_sales_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_sales_data)
    filled_bfill_sales_data = df_sales_data.bfill()
    print(filled_bfill_sales_data)
    # ABOVE GOES YOUR CODE
    return {"filled_bfill_sales_data": filled_bfill_sales_data}

pandas_25()

     A    B
0  1.0  4.0
1  2.0  NaN
2  NaN  6.0
     A    B
0  1.0  4.0
1  2.0  6.0
2  NaN  6.0
✅ Great job! Exercise completed successfully.

In [60]:
# Apply forward fill on DataFrame `df_attendance` and store the results in `filled_ffill_attendance`.
@check_pandas_26
def pandas_26(df_attendance):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_attendance)
    filled_ffill_attendance = df_attendance.ffill()
    print(filled_ffill_attendance)
    # ABOVE GOES YOUR CODE
    return {"filled_ffill_attendance": filled_ffill_attendance}

pandas_26()

     A    B
0  1.0  4.0
1  2.0  NaN
2  NaN  6.0
     A    B
0  1.0  4.0
1  2.0  4.0
2  2.0  6.0
✅ Great job! Exercise completed successfully.

In [3]:
# Set 'OrderID' as the index of DataFrame `df_orders_list` and save the updated DataFrame as `orders_indexed`.
@check_pandas_27
def pandas_27(df_orders_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_orders_list)
    df_orders_list.set_index('OrderID', inplace=True) 
    orders_indexed = df_orders_list
    print(orders_indexed)
    # ABOVE GOES YOUR CODE
    return {"orders_indexed": orders_indexed}

pandas_27()

   OrderID  Amount
0        1     100
1        2     200
2        3     300
         Amount
OrderID
1           100
2           200
3           300
✅ Great job! Exercise completed successfully.

In [4]:
# Reset the index of a DataFrame `df_indexed_data` and store it in `df_reset_index`.
@check_pandas_28
def pandas_28(df_indexed_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_indexed_data)
    df_indexed_data.reset_index(inplace=True)
    df_reset_index = df_indexed_data
    print(df_reset_index)
    # ABOVE GOES YOUR CODE
    return {"df_reset_index": df_reset_index}

pandas_28()

    A  B
2   1  4
4   2  5
19  3  6
   index  A  B
0      2  1  4
1      4  2  5
2     19  3  6
✅ Great job! Exercise completed successfully.

In [6]:
# Create a DataFrame `df_multiindex` with hierarchical indexing from `multiindex_data_list` using levels 'Region' and 'Category'.
@check_pandas_29
def pandas_29(multiindex_data_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(multiindex_data_list)
    df_multiindex = pd.DataFrame(multiindex_data_list)
    df_multiindex.set_index(['Region', 'Category'],inplace=True)
    print(df_multiindex)
    # ABOVE GOES YOUR CODE
    return {"df_multiindex": df_multiindex}

pandas_29()

{'Region': ['East', 'East', 'West', 'West'], 'Category': ['A', 'B', 'A', 'B'], 'Sales': [100, 200, 300, 400]}
                 Sales
Region Category
East   A           100
       B           200
West   A           300
       B           400
✅ Great job! Exercise completed successfully.

In [8]:
# Use DataFrame `df_exams` to filter rows with Score > 80 using boolean indexing and save it in `high_score_exams`.
@check_pandas_30
def pandas_30(df_exams):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_exams)
    high_score_exams = df_exams[df_exams['Score'] > 80]
    print(high_score_exams) 
    # ABOVE GOES YOUR CODE
    return {"high_score_exams": high_score_exams}

pandas_30()

   Student  Score
0    Alice     80
1      Bob     90
2  Charlie     85
   Student  Score
1      Bob     90
2  Charlie     85
✅ Great job! Exercise completed successfully.

In [11]:
# From DataFrame `df_transactions`, select the row with label 'TX005' and store it in `transaction_TX005`.
@check_pandas_31
def pandas_31(df_transactions):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_transactions)
    transaction_TX005 = df_transactions.loc['TX005']
    print(transaction_TX005)
    # ABOVE GOES YOUR CODE
    return {"transaction_TX005": transaction_TX005}

pandas_31()

       Amount        Date
TX001     100  2021-01-01
TX005     200  2021-01-02
TX003     300  2021-01-03
Amount           200
Date      2021-01-02
Name: TX005, dtype: object
✅ Great job! Exercise completed successfully.

In [11]:
# Use DataFrame `df_sports` to select rows labeled ['Basketball', 'Football'] and columns labeled ['Wins', 'Losses'], storing the result in `selected_sports`.
@check_pandas_32
def pandas_32(df_sports):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_sports)
    selected_sports = df_sports.loc[['Basketball', 'Football'], ['Wins', 'Losses']]
    print(selected_sports)
    # ABOVE GOES YOUR CODE
    return {"selected_sports": selected_sports}

pandas_32()

            Wins  Losses
Basketball    10       5
Football      20      10
Soccer        30      15
            Wins  Losses
Basketball    10       5
Football      20      10
✅ Great job! Exercise completed successfully.

In [17]:
# From DataFrame `df_catalog`, select rows where 'Category' is 'Electronics' and save them to `electronics_catalog`.
@check_pandas_33
def pandas_33(df_catalog):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_catalog)
    electronics_catalog = df_catalog[df_catalog['Category'] == 'Electronics']
    print(electronics_catalog)
    # ABOVE GOES YOUR CODE
    return {"electronics_catalog": electronics_catalog}

pandas_33()

  Product     Category
0  Laptop  Electronics
1   Phone     Clothing
2  Tablet  Electronics
  Product     Category
0  Laptop  Electronics
2  Tablet  Electronics
  Product     Category
0  Laptop  Electronics
1   Phone  Electronics
2  Tablet  Electronics
  Product     Category
0  Laptop  Electronics
1   Phone  Electronics
2  Tablet  Electronics
  Product  Category
0  Laptop  Clothing
1   Phone  Clothing
2  Tablet  Clothing
Empty DataFrame
Columns: [Product, Category]
Index: []
✅ Great job! Exercise completed successfully.

In [22]:
# For DataFrame `df_movies`, perform boolean selection where 'Genre' is 'Action' and 'Budget' > 500000, then select 'Title' and 'Revenue' columns, storing result in `selected_movies`.
@check_pandas_34
def pandas_34(df_movies):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_movies)
    mask = (df_movies['Genre'] == 'Action') & (df_movies['Budget'] > 500000)
    selected_movies = df_movies.loc[mask, ['Title', 'Revenue']]
    print(selected_movies)
    # ABOVE GOES YOUR CODE
    return {"selected_movies": selected_movies}

pandas_34()

  Title   Genre  Budget  Revenue
0     A  Action  100000   200000
1     B   Drama  200000   300000
2     C  Action  600000   700000
  Title  Revenue
2     C   700000
  Title   Genre  Budget  Revenue
0     A  Action  100000   200000
1     B   Drama  200000   300000
2     C  Action  400000   500000
Empty DataFrame
Columns: [Title, Revenue]
Index: []
  Title  Genre  Budget  Revenue
0     A  Drama  100000   200000
1     B  Drama  200000   300000
2     C  Drama  600000   700000
Empty DataFrame
Columns: [Title, Revenue]
Index: []
✅ Great job! Exercise completed successfully.

In [2]:
from sigmoid_check.excalibur import *

In [26]:
# Using .loc, slice DataFrame `df_plants` to include rows 'Rose' through 'Tulip' and store it in `flower_slice`.
@check_pandas_35
def pandas_35(df_plants):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_plants)
    flower_slice = df_plants.loc['Rose' : 'Tulip']
    print(flower_slice)
    # ABOVE GOES YOUR CODE
    return {"flower_slice": flower_slice}

pandas_35()

         Color    Type
Rose       Red    Rose
Lily      Blue    Lily
Daisy   Yellow   Daisy
Tulip     Pink   Tulip
Orchid  Purple  Orchid
        Color   Type
Rose      Red   Rose
Lily     Blue   Lily
Daisy  Yellow  Daisy
Tulip    Pink  Tulip
✅ Great job! Exercise completed successfully.

In [33]:
# Use .iloc to slice DataFrame `df_students` to include the first three rows and the first two columns, saving them in `student_slice`.
@check_pandas_36
def pandas_36(df_students):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_students)
    student_slice = df_students.iloc[0:3, 0:2]
    print(student_slice)
    # ABOVE GOES YOUR CODE
    return {"student_slice": student_slice}

pandas_36()

      Name  Age  Grade
0    Alice   25     80
1      Bob   30     90
2  Charlie   35     85
3    David   40     95
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
✅ Great job! Exercise completed successfully.

In [42]:
# From DataFrame `df_reports`, use a combination of .loc and .iloc to select rows 'R102' and 'R103' and the first three columns, storing it as `report_selection`.
@check_pandas_37
def pandas_37(df_reports):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_reports)
    report_selection = df_reports.loc[['R102', 'R103'], df_reports.columns[0:3]]
    print(report_selection)
    # ABOVE GOES YOUR CODE
    return {"report_selection": report_selection}

pandas_37()

            Date  Sales  Expenses  Profit
R101  2021-01-01    100        50      50
R102  2021-01-02    200       100     100
R103  2021-01-03    300       150     150
            Date  Sales  Expenses
R102  2021-01-02    200       100
R103  2021-01-03    300       150
✅ Great job! Exercise completed successfully.

In [6]:
# Modify DataFrame `df_inventory` by setting all 'Quantity' to 50 for rows labeled 'InStock' and store the modified DataFrame as `inventory_modified`.
@check_pandas_38
def pandas_38(df_inventory):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_inventory)
    mask = df_inventory.index == 'InStock'
    df_inventory.loc[mask,'Quantity'] = 50
    inventory_modified = df_inventory
    print(inventory_modified)
    # ABOVE GOES YOUR CODE
    return {"inventory_modified": inventory_modified}

pandas_38()

         Product  Quantity
InStock        A       100
OutStock       B       200
InStock        C       300
         Product  Quantity
InStock        A        50
OutStock       B       200
InStock        C        50
✅ Great job! Exercise completed successfully.

In [8]:
# Combine .loc and .iloc to modify rows 'R101' to 'R105' in 'df_revenue' setting the first column's value to 1000, storing it in `revenue_updated`.
@check_pandas_39
def pandas_39(df_revenue):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_revenue)
    df_revenue.loc['R101':'R105', df_revenue.columns[0]] = 1000
    revenue_updated = df_revenue
    print(revenue_updated)
    # ABOVE GOES YOUR CODE
    return {"revenue_updated": revenue_updated}

pandas_39()

            Date  Sales
R101  2021-01-01    100
R102  2021-01-02    200
R103  2021-01-03    300
R104  2021-01-04    400
R105  2021-01-05    500
      Date  Sales
R101  1000    100
R102  1000    200
R103  1000    300
R104  1000    400
R105  1000    500
✅ Great job! Exercise completed successfully.

In [11]:
# Using DataFrame `df_hierarchical_example`, demonstrate the use of .loc and .iloc on a DataFrame with a multiindex, saving the selection as `multiindex_selected`, selecting the row with index ('North', 'A') and column 'X'.
@check_pandas_40
def pandas_40(df_hierarchical_example):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_hierarchical_example)
    multiindex_selected = df_hierarchical_example.loc[('North', 'A'), 'X']
    print(multiindex_selected)
    # ABOVE GOES YOUR CODE
    return {"multiindex_selected": multiindex_selected}

pandas_40()

                   X  Expenses
Region Category
East   A         100        50
       B         200       100
West   A         300       150
       B         400       200
North  A         500       250
500
✅ Great job! Exercise completed successfully.

In [14]:
# Concatenate DataFrames `df1` and `df2` horizontally and save the result as `concatenated_df_horizontal`.
@check_pandas_41
def pandas_41(df1, df2):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df1)
    print(df2)
    concatenated_df_horizontal = pd.concat([df1, df2], axis=1)
    print(concatenated_df_horizontal)
    # ABOVE GOES YOUR CODE
    return {"concatenated_df_horizontal": concatenated_df_horizontal}

pandas_41()

   A  B
0  1  4
1  2  5
2  3  6
   C   D
0  7  10
1  8  11
2  9  12
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
✅ Great job! Exercise completed successfully.

In [17]:
# Concatenate DataFrames `df_a` and `df_b` vertically, aligning by columns, and store the result in `concatenated_df_vertical`.
@check_pandas_42
def pandas_42(df_a, df_b):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_a)
    print(df_b)
    concatenated_df_vertical = pd.concat([df_a, df_b], axis=0)
    print(concatenated_df_vertical)
    # ABOVE GOES YOUR CODE
    return {"concatenated_df_vertical": concatenated_df_vertical}

pandas_42()

   A  B
0  1  4
1  2  5
2  3  6
   A   B
0  7  10
1  8  11
2  9  12
   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12
✅ Great job! Exercise completed successfully.

In [21]:
# Merge DataFrames `df_left` and `df_right` on key 'ID', using outer method and store result in `merged_outer`.
@check_pandas_43
def pandas_43(df_left, df_right):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_left)
    print(df_right)
    merged_outer = pd.merge(df_left, df_right, on='ID', how='outer')
    print(merged_outer)
    # ABOVE GOES YOUR CODE
    return {"merged_outer": merged_outer}

pandas_43()

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
   ID  Age
0   2   25
1   3   30
2   4   35
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0
3   4      NaN  35.0
✅ Great job! Exercise completed successfully.

In [22]:
# Perform a right merge on DataFrames `df_personal` and `df_contact` based on the key 'ContactID', saving it as `merged_right`.
@check_pandas_44
def pandas_44(df_personal, df_contact):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_personal)
    print(df_contact)
    merged_right = pd.merge(df_personal, df_contact, on='ContactID', how='right')
    print(merged_right)
    # ABOVE GOES YOUR CODE
    return {"merged_right": merged_right}

pandas_44()

   ContactID     Name
0          1    Alice
1          2      Bob
2          3  Charlie
   ContactID Phone
0          2   123
1          3   456
2          4   789
   ContactID     Name Phone
0          2      Bob   123
1          3  Charlie   456
2          4      NaN   789
✅ Great job! Exercise completed successfully.

In [26]:
# Join DataFrames `df_main` and `df_additional` using an inner join, saving the result in `joined_inner`.
@check_pandas_45
def pandas_45(df_main, df_additional):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_main)
    print(df_additional)
    joined_inner = df_main.join(df_additional, how='inner')
    print(joined_inner)
    # ABOVE GOES YOUR CODE
    return {"joined_inner": joined_inner}

pandas_45()

      Name
1    Alice
2      Bob
3  Charlie
   Age
2   25
3   30
4   35
      Name  Age
2      Bob   25
3  Charlie   30
✅ Great job! Exercise completed successfully.

In [28]:
# Conduct a left join on DataFrames `df_sales_main` and `df_sales_region` on 'RegionID', storing it as `joined_left`.
@check_pandas_46
def pandas_46(df_sales_main, df_sales_region):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_sales_main)
    print(df_sales_region)
    joined_left = df_sales_main.join(df_sales_region, how='left')
    print(joined_left)
    # ABOVE GOES YOUR CODE
    return {"joined_left": joined_left}

pandas_46()

          Sales
RegionID
1           100
2           200
3           300
         Region
RegionID
2          East
3          West
4         North
          Sales Region
RegionID
1           100    NaN
2           200   East
3           300   West
✅ Great job! Exercise completed successfully.

In [32]:
# Group DataFrame `df_employee` by 'Department', calculating the average 'Salary' for each group and saving it as `avg_salary_by_department`.
@check_pandas_47
def pandas_47(df_employee):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_employee) 
    avg_salary_by_department = df_employee.groupby('Department')['Salary'].mean()
    print(avg_salary_by_department)
    # ABOVE GOES YOUR CODE
    return {"avg_salary_by_department": avg_salary_by_department}

pandas_47()

  Department  Salary
0         HR   50000
1    Finance   60000
2         HR   70000
3    Finance   80000
Department
Finance    70000.0
HR         60000.0
Name: Salary, dtype: float64
✅ Great job! Exercise completed successfully.

In [34]:
# Pivot DataFrame `df_orders` with 'OrderID' as index, 'Category' as columns, and 'Amount' as values, resulting in `pivoted_orders`.
@check_pandas_48
def pandas_48(df_orders):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_orders)
    pivoted_orders = df_orders.pivot_table(index='OrderID', columns='Category', values='Amount')
    print(pivoted_orders)
    # ABOVE GOES YOUR CODE
    return {"pivoted_orders": pivoted_orders}

pandas_48()

   OrderID Category  Amount
0        1        A     100
1        2        B     200
2        3        A     300
3        4        B     400
Category      A      B
OrderID
1         100.0    NaN
2           NaN  200.0
3         300.0    NaN
4           NaN  400.0
✅ Great job! Exercise completed successfully.

In [37]:
# Utilize crosstab to get a frequency table of 'Region' and 'ProductType' categories from `df_business`, storing the result as `region_product_crosstab`.
@check_pandas_49
def pandas_49(df_business):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_business)
    region_product_crosstab = pd.crosstab(df_business['Region'], df_business['ProductType'])
    print(region_product_crosstab)
    # ABOVE GOES YOUR CODE
    return {"region_product_crosstab": region_product_crosstab}

pandas_49()

  Region ProductType
0   East           A
1   West           B
2   East           A
3   West           B
ProductType  A  B
Region
East         2  0
West         0  2
✅ Great job! Exercise completed successfully.

In [3]:
# Reshape DataFrame `df_energy` from wide to long format using melt, and store the result in `melted_energy`.
@check_pandas_50
def pandas_50(df_energy):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_energy)
    melted_energy = pd.melt(df_energy, id_vars=['Year'],  value_vars=['Coal', 'Oil'], var_name='EnergyType', value_name='Consumption')
    print(melted_energy)
    # ABOVE GOES YOUR CODE
    return {"melted_energy": melted_energy}

pandas_50()

   Year  Coal  Oil
0  2020   100  300
1  2021   200  400
   Year EnergyType  Consumption
0  2020       Coal          100
1  2021       Coal          200
2  2020        Oil          300
3  2021        Oil          400
✅ Great job! Exercise completed successfully.

In [5]:
# Using DataFrame `df_product_sales`, change its structure by applying a pivot operation with 'ProductID' being the index, columns as 'Month', and 'Sales' as values, storing the result in `pivoted_sales`.
@check_pandas_51
def pandas_51(df_product_sales):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_product_sales)
    pivoted_sales = pd.pivot_table(df_product_sales, index='ProductID', columns='Month', values='Sales')
    print(pivoted_sales)
    # ABOVE GOES YOUR CODE
    return {"pivoted_sales": pivoted_sales}

pandas_51()

   ProductID  Sales Month
0          1    100     A
1          2    200     B
2          3    300     A
Month          A      B
ProductID
1          100.0    NaN
2            NaN  200.0
3          300.0    NaN
✅ Great job! Exercise completed successfully.

In [3]:
# Create a pandas DataFrame `df_date_range` using a date range starting from '2022-01-01' to '2023-01-01', frequency of 'MS', with columns ['Sales', 'Profit'] filled with zeros.
@check_pandas_52
def pandas_52():
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    df_date_range = pd.date_range(start='2022-01-01', end='2023-01-01', freq='MS')
    df_date_range = pd.DataFrame(0, index=df_date_range, columns=['Sales', 'Profit'])
    print(df_date_range)
    # ABOVE GOES YOUR CODE
    return {"df_date_range": df_date_range}

pandas_52()

            Sales  Profit
2022-01-01      0       0
2022-02-01      0       0
2022-03-01      0       0
2022-04-01      0       0
2022-05-01      0       0
2022-06-01      0       0
2022-07-01      0       0
2022-08-01      0       0
2022-09-01      0       0
2022-10-01      0       0
2022-11-01      0       0
2022-12-01      0       0
2023-01-01      0       0
✅ Great job! Exercise completed successfully.

In [5]:
# Extract the year and month for each entry in DataFrame `df_date_series` with a DateTimeIndex, storing them in `years` and `months` respectively.
@check_pandas_53
def pandas_53(df_date_series):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_date_series)
    years = df_date_series.index.year
    print(years)
    months = df_date_series.index.month
    print(months)
    # ABOVE GOES YOUR CODE
    return {"years": years, "months": months}

pandas_53()

            Sales  Profit
2022-01-01    100      50
2022-02-01    200     100
2022-03-01    300     150
Index([2022, 2022, 2022], dtype='int32')
Index([1, 2, 3], dtype='int32')
✅ Great job! Exercise completed successfully.

In [10]:
# Resample DataFrame `df_time_series` to quarterly frequency, taking the sum, and store the resulting series in `quarterly_series`.
@check_pandas_54
def pandas_54(df_time_series):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_time_series)
    quarterly_series = df_time_series.resample('QE').sum()
    print(quarterly_series)
    # ABOVE GOES YOUR CODE
    return {"quarterly_series": quarterly_series}

pandas_54()

            Sales  Profit
2022-01-01    100      50
2022-02-01    200     100
2022-03-01    300     150
2022-04-01    400     200
2022-05-01    500     250
            Sales  Profit
2022-03-31    600     300
2022-06-30    900     450
✅ Great job! Exercise completed successfully.

In [12]:
# Apply a rolling window of 7 days for the DataFrame `df_metrics`, and calculate the mean, storing it in `rolling_mean_metrics`.
@check_pandas_55
def pandas_55(df_metrics):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_metrics)
    rolling_mean_metrics = df_metrics.rolling(window=7).mean()
    print(rolling_mean_metrics)
    # ABOVE GOES YOUR CODE
    return {"rolling_mean_metrics": rolling_mean_metrics}

pandas_55()

            Sales
2022-01-01    100
2022-01-02    200
2022-01-03    300
2022-01-04    400
2022-01-05    500
2022-01-06    600
2022-01-07    700
2022-01-08    800
2022-01-09    900
2022-01-10   1000
            Sales
2022-01-01    NaN
2022-01-02    NaN
2022-01-03    NaN
2022-01-04    NaN
2022-01-05    NaN
2022-01-06    NaN
2022-01-07  400.0
2022-01-08  500.0
2022-01-09  600.0
2022-01-10  700.0
✅ Great job! Exercise completed successfully.

In [5]:
# Apply the function `np.log1p` to the column 'Revenue' in DataFrame `df_financial_data`, storing the updated data in `logged_df`.
@check_pandas_56
def pandas_56(df_financial_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_financial_data)
    df_financial_data['Revenue'] = np.log1p(df_financial_data['Revenue'])
    logged_df = df_financial_data
    print(logged_df)
    # ABOVE GOES YOUR CODE
    return {"logged_df": logged_df}

pandas_56()

   Revenue
0      100
1      200
2      300
3      400
4      500
    Revenue
0  4.615121
1  5.303305
2  5.707110
3  5.993961
4  6.216606
✅ Great job! Exercise completed successfully.

In [10]:
# Optimize memory usage of DataFrame `df_large` by converting column 'ID' to int32 and store as `optimized_df`.
@check_pandas_57
def pandas_57(df_large):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_large)
    df_large['ID'] = df_large['ID'].astype('int32')
    optimized_df = df_large.copy()
    print(optimized_df)
    # ABOVE GOES YOUR CODE
    return {"optimized_df": optimized_df}

pandas_57()

   ID  Sales
0   1    100
1   2    200
2   3    300
3   4    400
4   5    500
   ID  Sales
0   1    100
1   2    200
2   3    300
3   4    400
4   5    500
✅ Great job! Exercise completed successfully.

In [13]:
# Convert data types of 'Price' in DataFrame `df_items` from float64 to float32 for memory efficiency, saving the result as `optimized_items`.
@check_pandas_58
def pandas_58(df_items):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_items)
    df_items['Price'] = df_items['Price'].astype('float32')
    optimized_items = df_items.copy()
    print(optimized_items)
    # ABOVE GOES YOUR CODE
    return {"optimized_items": optimized_items}

pandas_58()

  Item  Price
0    A  100.0
1    B  200.0
2    C  300.0
  Item  Price
0    A  100.0
1    B  200.0
2    C  300.0
✅ Great job! Exercise completed successfully.

In [19]:
# Remove duplicate entries from DataFrame `df_database` and store the cleaned DataFrame as `unique_database`.
@check_pandas_59
def pandas_59(df_database):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_database)
    unique_database = df_database.drop_duplicates()
    print(unique_database)
    # ABOVE GOES YOUR CODE
    return {"unique_database": unique_database}

pandas_59()

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   4    David
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
✅ Great job! Exercise completed successfully.

In [22]:
# Perform string operation by converting all entries in the 'Names' column of `df_attendees` to uppercase, storing the resulting DataFrame as `uppercase_attendees`.
@check_pandas_60
def pandas_60(df_attendees):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_attendees)
    df_attendees['Names'] = df_attendees['Names'].str.upper()
    uppercase_attendees = df_attendees.copy()
    print(uppercase_attendees)
    # ABOVE GOES YOUR CODE
    return {"uppercase_attendees": uppercase_attendees}

pandas_60()

     Names
0    Alice
1      Bob
2  Charlie
     Names
0    ALICE
1      BOB
2  CHARLIE
✅ Great job! Exercise completed successfully.

In [25]:
# Select rows from DataFrame `df_students` using the query method to find students with 'Score' greater than 85, storing the result as `high_scorers`.
@check_pandas_61
def pandas_61(df_students):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_students)
    high_scorers = df_students.query('Score > 85')
    print(high_scorers)
    # ABOVE GOES YOUR CODE
    return {"high_scorers": high_scorers}

pandas_61()

      Name  Score
0    Alice     80
1      Bob     90
2  Charlie     85
  Name  Score
1  Bob     90
✅ Great job! Exercise completed successfully.

In [4]:
# In DataFrame `df_results`, group by 'Team', apply custom function to rank 'Score' in descending order, and store the result in `ranked_teams`.
@check_pandas_62
def pandas_62(df_results):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_results)
    ranked_teams = df_results.groupby('Team').apply(lambda x : x.assign(Rank=x['Score'].rank(ascending=False)))
    print(ranked_teams)
    # ABOVE GOES YOUR CODE
    return {"ranked_teams": ranked_teams}

pandas_62()

  Team  Score
0    A    100
1    B    200
2    A    300
3    B    400
       Team  Score  Rank
Team
A    0    A    100   2.0
     2    A    300   1.0
B    1    B    200   2.0
     3    B    400   1.0
✅ Great job! Exercise completed successfully.

C:\Users\Costea\AppData\Local\Temp\ipykernel_3347492\1457097305.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ranked_teams = df_results.groupby('Team').apply(lambda x : x.assign(Rank=x['Score'].rank(ascending=False)))

In [40]:
# Perform a aggregation on DataFrame `df_data_group` for 'City' using a custom function that finds the range of 'Temperature', storing as `temperature_range`.
@check_pandas_63
def pandas_63(df_data_group):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_data_group)
    def temperature_range(group):
        return group['Temperature'].max() - group['Temperature'].min()
    
    temperature_range = df_data_group.groupby('City').apply(temperature_range, include_groups=False)
    print(temperature_range)
    # ABOVE GOES YOUR CODE
    return {"temperature_range": temperature_range}

pandas_63()

  City  Temperature
0    A           10
1    B           20
2    A           30
3    B           40
City
A    20
B    20
dtype: int64
✅ Great job! Exercise completed successfully.

In [47]:
# Use vectorized operations to add 10 to every element in DataFrame `df_numeric`, saving the result as `adjusted_numeric`.
@check_pandas_64
def pandas_64(df_numeric):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_numeric)
    adjusted_numeric = df_numeric + 10 
    print(adjusted_numeric)
    # ABOVE GOES YOUR CODE
    return {"adjusted_numeric": adjusted_numeric}

pandas_64()

   A  B
0  1  4
1  2  5
2  3  6
    A   B
0  11  14
1  12  15
2  13  16
✅ Great job! Exercise completed successfully.

In [50]:
# Process DataFrame `df_sales_timezones` to convert the 'Timestamp' to a timezone-aware datetime, setting the timezone to 'UTC', and save as `timezone_aware_sales`.
@check_pandas_65
def pandas_65(df_sales_timezones):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_sales_timezones)
    timezone_aware_sales = df_sales_timezones.copy()
    timezone_aware_sales['Timestamp'] = timezone_aware_sales['Timestamp'].dt.tz_localize('UTC')
    print(timezone_aware_sales)
    # ABOVE GOES YOUR CODE
    return {"timezone_aware_sales": timezone_aware_sales}

pandas_65()

   Timestamp  Sales
0 2022-01-01    100
1 2022-01-02    200
                  Timestamp  Sales
0 2022-01-01 00:00:00+00:00    100
1 2022-01-02 00:00:00+00:00    200
✅ Great job! Exercise completed successfully.

In [2]:
# Create a pandas DataFrame `df_customer_reviews` from a JSON string `json_input_string`.
@check_pandas_66
def pandas_66(json_input_string):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(json_input_string)
    data = json.loads(json_input_string)
    df_customer_reviews = pd.DataFrame(data)
    print(df_customer_reviews)
    # ABOVE GOES YOUR CODE
    return {"df_customer_reviews": df_customer_reviews}

pandas_66()

[{"Name": "Alice", "Rating": 5}, {"Name": "Bob", "Rating": 4}]
    Name  Rating
0  Alice       5
1    Bob       4
✅ Great job! Exercise completed successfully.

In [6]:
# Given a pandas Series `series_temp_investments`, access specific elements from custom indices ['A1', 'B2', 'C3'] and save them to `selected_investments`.
@check_pandas_67
def pandas_67(series_temp_investments):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(series_temp_investments)
    index = ['A1', 'B2', 'C3']
    selected_investments = pd.Series(series_temp_investments, index=index)
    print(selected_investments)
    # ABOVE GOES YOUR CODE
    return {"selected_investments": selected_investments}

pandas_67()

A1    100
B2    200
C3    300
dtype: int64
A1    100
B2    200
C3    300
dtype: int64
✅ Great job! Exercise completed successfully.

In [8]:
# Slice pandas Series `series_temp_readings` to return every second element, storing the result in `temp_slice_even`.
@check_pandas_68
def pandas_68(series_temp_readings):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(series_temp_readings)
    temp_slice_even = series_temp_readings[0:series_temp_readings.size:2]
    print(temp_slice_even)
    # ABOVE GOES YOUR CODE
    return {"temp_slice_even": temp_slice_even}

pandas_68()

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    10
2    30
4    50
dtype: int64
✅ Great job! Exercise completed successfully.

In [11]:
# From a list of dictionaries `sensor_data_list`, create a DataFrame named `df_sensor_readings` with custom column names ['SensorID', 'Temperature', 'Humidity'].
@check_pandas_69
def pandas_69(sensor_data_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(sensor_data_list)
    df_sensor_readings = pd.DataFrame(sensor_data_list, columns=['SensorID', 'Temperature', 'Humidity'])
    print(df_sensor_readings)
    # ABOVE GOES YOUR CODE
    return {"df_sensor_readings": df_sensor_readings}

pandas_69()

[{'SensorID': 1, 'Temperature': 20, 'Humidity': 50}, {'SensorID': 2, 'Temperature': 25, 'Humidity': 60}]
   SensorID  Temperature  Humidity
0         1           20        50
1         2           25        60
✅ Great job! Exercise completed successfully.

In [13]:
# Access and display the first 10 elements of Series `series_large_dataset`, storing them in `top_ten_elements`.
@check_pandas_70
def pandas_70(series_large_dataset):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(series_large_dataset)
    top_ten_elements =series_large_dataset.head(10)
    print(top_ten_elements)
    # ABOVE GOES YOUR CODE
    return {"top_ten_elements": top_ten_elements}

pandas_70()

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
✅ Great job! Exercise completed successfully.

In [15]:
# Use the DataFrame `df_population_data` to extract and store the indices in a variable `population_indices`.
@check_pandas_71
def pandas_71(df_population_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_population_data)
    population_indices = df_population_data.index
    print(population_indices)
    # ABOVE GOES YOUR CODE
    return {"population_indices": population_indices}

pandas_71()

  City  Population
A    A         100
B    B         200
C    C         300
Index(['A', 'B', 'C'], dtype='object')
✅ Great job! Exercise completed successfully.

In [4]:
# Combine DataFrames `df_financial_2021` and `df_financial_2020` vertically, so that rows from 2021 follow those of 2020, storing result in `combined_financials`.
@check_pandas_72
def pandas_72(df_financial_2021, df_financial_2020):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_financial_2020)
    print(df_financial_2021)
    combined_financials = pd.concat([df_financial_2020, df_financial_2021], axis=0)

    print(combined_financials)
    # ABOVE GOES YOUR CODE
    return {"combined_financials": combined_financials}

pandas_72()

         Date  Sales
0  2020-01-01     50
1  2020-01-02    150
         Date  Sales
0  2021-01-01    100
1  2021-01-02    200
         Date  Sales
0  2020-01-01     50
1  2020-01-02    150
0  2021-01-01    100
1  2021-01-02    200
✅ Great job! Exercise completed successfully.

In [4]:
# Merge DataFrames `df_clients` and `df_orders` with a common key 'ClientID' using the 'inner' join method, and save the result as `client_orders`.
@check_pandas_73
def pandas_73(df_clients, df_orders):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_clients)
    print(df_orders)
    client_orders = pd.merge(df_clients, df_orders, on='ClientID', how='inner')
    print(client_orders)
    # ABOVE GOES YOUR CODE
    return {"client_orders": client_orders}

pandas_73()

   ClientID   Name
0         1  Alice
1         2    Bob
   ClientID Product
0         2       A
1         3       B
   ClientID Name Product
0         2  Bob       A
✅ Great job! Exercise completed successfully.

In [8]:
# From DataFrame `df_commodity_prices`, locate the element where 'Commodity' is 'Gold' and 'PriceDate' is '2023-06-01', storing it in `gold_price`.
@check_pandas_74
def pandas_74(df_commodity_prices):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_commodity_prices)
    gold_price = df_commodity_prices[(df_commodity_prices['Commodity'] == 'Gold') & (df_commodity_prices['PriceDate'] == '2023-06-01')]
    print(gold_price)
    # ABOVE GOES YOUR CODE
    return {"gold_price": gold_price}

pandas_74()

  Commodity  Price   PriceDate
0      Gold   1000  2023-06-01
1    Silver     20  2023-06-01
  Commodity  Price   PriceDate
0      Gold   1000  2023-06-01
✅ Great job! Exercise completed successfully.

In [5]:
# Use boolean indexing on DataFrame `df_sales_performance` to extract rows where 'Quarter' is Q1 and 'Year' >= 2022, saving the result in `performance_q1_2022`.
@check_pandas_75
def pandas_75(df_sales_performance):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_sales_performance)
    performance_q1_2022 = df_sales_performance[
        (df_sales_performance['Quarter'] == 'Q1') & 
        (df_sales_performance['Year'] >= 2022)
    ]
    print(performance_q1_2022)
    # ABOVE GOES YOUR CODE
    return {"performance_q1_2022": performance_q1_2022}

pandas_75()

   Year Quarter  Sales
0  2021      Q1    100
1  2022      Q1    200
2  2022      Q2    300
3  2023      Q1    400
   Year Quarter  Sales
1  2022      Q1    200
3  2023      Q1    400
✅ Great job! Exercise completed successfully.

In [7]:
# Slice DataFrame `df_international_customers` to include rows 'France' to 'Italy' using their index labels and save it in `european_customers`.
@check_pandas_76
def pandas_76(df_international_customers):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_international_customers)
    european_customers = df_international_customers.loc['France':'Italy']
    print(european_customers)
    # ABOVE GOES YOUR CODE
    return {"european_customers": european_customers}

pandas_76()

       Country  Sales
USA        USA    100
UK          UK    200
France  France    300
Italy    Italy    400
       Country  Sales
France  France    300
Italy    Italy    400
✅ Great job! Exercise completed successfully.

In [9]:
# Modify DataFrame `df_shipping_list` by setting the 'CollectionDate' column of all rows before '2023-08-01' to NaT, storing the modified DataFrame as `adjusted_shipping`.
@check_pandas_77
def pandas_77(df_shipping_list):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_shipping_list)
    df_shipping_list.loc[df_shipping_list['CollectionDate'] < '2023-08-01', 'CollectionDate'] = pd.NaT
    adjusted_shipping = df_shipping_list
    print(adjusted_shipping)
    # ABOVE GOES YOUR CODE
    return {"adjusted_shipping": adjusted_shipping}

pandas_77()

   OrderID CollectionDate
0        1     2023-07-01
1        2     2023-08-01
2        3     2023-09-01
   OrderID CollectionDate
0        1            NaT
1        2     2023-08-01
2        3     2023-09-01
✅ Great job! Exercise completed successfully.

In [12]:
# Merge DataFrames `df_employee_roles` and `df_role_salaries` on 'RoleID', performing a left merge and storing result as `employee_salary_details`.
@check_pandas_78
def pandas_78(df_employee_roles, df_role_salaries):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_employee_roles)
    print(df_role_salaries)
    employee_salary_details = pd.merge(df_employee_roles, df_role_salaries, on='RoleID', how='left')
    print(employee_salary_details)
    # ABOVE GOES YOUR CODE
    return {"employee_salary_details": employee_salary_details}

pandas_78()

   RoleID       Role
0       1    Manager
1       2  Associate
   RoleID  Salary
0       2   50000
1       3   60000
   RoleID       Role   Salary
0       1    Manager      NaN
1       2  Associate  50000.0
✅ Great job! Exercise completed successfully.

In [16]:
# Group DataFrame `df_class_scores` by 'Class' and calculate the maximum 'Score' for each class, saving the result as `max_class_scores`.
@check_pandas_79
def pandas_79(df_class_scores):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_class_scores)
    max_class_scores = df_class_scores.groupby('Class')['Score'].max()
    print(max_class_scores)
    # ABOVE GOES YOUR CODE
    return {"max_class_scores": max_class_scores}

pandas_79()

  Class  Score
0     A    100
1     B    200
2     A    300
3     B    400
Class
A    300
B    400
Name: Score, dtype: int64
✅ Great job! Exercise completed successfully.

In [20]:
# Pivot DataFrame `df_sales_regions` with 'Region' as rows and 'Quarter' as columns, aggregating 'Sales' values, into `sales_pivot`.
@check_pandas_80
def pandas_80(df_sales_regions):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_sales_regions)
    sales_pivot = df_sales_regions.pivot_table(index='Region', columns='Quarter', values='Sales', aggfunc='sum')
    print(sales_pivot)
    # ABOVE GOES YOUR CODE
    return {"sales_pivot": sales_pivot}

pandas_80()

  Region Quarter  Sales
0   East      Q1    100
1   West      Q1    200
2   East      Q2    300
3   West      Q2    400
Quarter   Q1   Q2
Region
East     100  300
West     200  400
✅ Great job! Exercise completed successfully.

In [22]:
# Utilize a crosstab of 'CustomerType' and 'Region' from DataFrame `df_customer_data`, storing the result as `customer_region_crosstab`.
@check_pandas_81
def pandas_81(df_customer_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_customer_data)
    customer_region_crosstab = pd.crosstab(df_customer_data['CustomerType'], df_customer_data['Region'])
    print(customer_region_crosstab)
    # ABOVE GOES YOUR CODE
    return {"customer_region_crosstab": customer_region_crosstab}

pandas_81()

  CustomerType Region
0            A   East
1            B   West
2            A   East
3            B   West
Region        East  West
CustomerType
A                2     0
B                0     2
✅ Great job! Exercise completed successfully.

In [27]:
# Reshape DataFrame `df_expenses` to long format, using melt function, resulting in `melted_expenses`.
@check_pandas_82
def pandas_82(df_expenses):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_expenses)
    melted_expenses = df_expenses.melt(id_vars=['Date'], var_name='ExpenseType', value_name='Amount')
    print(melted_expenses)
    # ABOVE GOES YOUR CODE
    return {"melted_expenses": melted_expenses}

pandas_82()

         Date  Rent  Utilities
0  2022-01-01  1000        200
1  2022-01-02  1100        250
         Date ExpenseType  Amount
0  2022-01-01        Rent    1000
1  2022-01-02        Rent    1100
2  2022-01-01   Utilities     200
3  2022-01-02   Utilities     250
✅ Great job! Exercise completed successfully.

In [35]:
# Use a pivot_table on DataFrame `df_contact_events` with 'ContactID' as index, 'EventType' as columns, and 'EventTimestamp' as values, stored in `pivoted_events`.
@check_pandas_83
def pandas_83(df_contact_events):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_contact_events)
    pivoted_events = df_contact_events.pivot_table(
        index='ContactID',
        columns='EventType',
        values='EventTimestamp',
        aggfunc='first'  
    )
    print(pivoted_events)
    # ABOVE GOES YOUR CODE
    return {"pivoted_events": pivoted_events}

pandas_83()

   ContactID EventType EventTimestamp
0          1      Call     2022-01-01
1          2     Email     2022-01-02
2          1      Call     2022-01-03
3          2     Email     2022-01-04
EventType        Call       Email
ContactID
1          2022-01-01         NaN
2                 NaN  2022-01-02
✅ Great job! Exercise completed successfully.

In [36]:
# Create DataFrame `df_time_events` using a DateTimeIndex from a 'start' of '2023-01-01', 'end' of '2023-12-31', and a daily frequency.
@check_pandas_84
def pandas_84():
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    date_range = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')
    df_time_events = pd.DataFrame(index=date_range)
    print(df_time_events)
    # ABOVE GOES YOUR CODE
    return {"df_time_events": df_time_events}

pandas_84()

Empty DataFrame
Columns: []
Index: [2023-01-01 00:00:00, 2023-01-02 00:00:00, 2023-01-03 00:00:00, 2023-01-04 00:00:00, 2023-01-05 00:00:00, 2023-01-06 00:00:00, 2023-01-07 00:00:00, 2023-01-08 00:00:00, 2023-01-09 00:00:00, 2023-01-10 00:00:00, 2023-01-11 00:00:00, 2023-01-12 00:00:00, 2023-01-13 00:00:00, 2023-01-14 00:00:00, 2023-01-15 00:00:00, 2023-01-16 00:00:00, 2023-01-17 00:00:00, 2023-01-18 00:00:00, 2023-01-19 00:00:00, 2023-01-20 00:00:00, 2023-01-21 00:00:00, 2023-01-22 00:00:00, 2023-01-23 00:00:00, 2023-01-24 00:00:00, 2023-01-25 00:00:00, 2023-01-26 00:00:00, 2023-01-27 00:00:00, 2023-01-28 00:00:00, 2023-01-29 00:00:00, 2023-01-30 00:00:00, 2023-01-31 00:00:00, 2023-02-01 00:00:00, 2023-02-02 00:00:00, 2023-02-03 00:00:00, 2023-02-04 00:00:00, 2023-02-05 00:00:00, 2023-02-06 00:00:00, 2023-02-07 00:00:00, 2023-02-08 00:00:00, 2023-02-09 00:00:00, 2023-02-10 00:00:00, 2023-02-11 00:00:00, 2023-02-12 00:00:00, 2023-02-13 00:00:00, 2023-02-14 00:00:00, 2023-02-15 00:00:00, 2023-02-16 00:00:00, 2023-02-17 00:00:00, 2023-02-18 00:00:00, 2023-02-19 00:00:00, 2023-02-20 00:00:00, 2023-02-21 00:00:00, 2023-02-22 00:00:00, 2023-02-23 00:00:00, 2023-02-24 00:00:00, 2023-02-25 00:00:00, 2023-02-26 00:00:00, 2023-02-27 00:00:00, 2023-02-28 00:00:00, 2023-03-01 00:00:00, 2023-03-02 00:00:00, 2023-03-03 00:00:00, 2023-03-04 00:00:00, 2023-03-05 00:00:00, 2023-03-06 00:00:00, 2023-03-07 00:00:00, 2023-03-08 00:00:00, 2023-03-09 00:00:00, 2023-03-10 00:00:00, 2023-03-11 00:00:00, 2023-03-12 00:00:00, 2023-03-13 00:00:00, 2023-03-14 00:00:00, 2023-03-15 00:00:00, 2023-03-16 00:00:00, 2023-03-17 00:00:00, 2023-03-18 00:00:00, 2023-03-19 00:00:00, 2023-03-20 00:00:00, 2023-03-21 00:00:00, 2023-03-22 00:00:00, 2023-03-23 00:00:00, 2023-03-24 00:00:00, 2023-03-25 00:00:00, 2023-03-26 00:00:00, 2023-03-27 00:00:00, 2023-03-28 00:00:00, 2023-03-29 00:00:00, 2023-03-30 00:00:00, 2023-03-31 00:00:00, 2023-04-01 00:00:00, 2023-04-02 00:00:00, 2023-04-03 00:00:00, 2023-04-04 00:00:00, 2023-04-05 00:00:00, 2023-04-06 00:00:00, 2023-04-07 00:00:00, 2023-04-08 00:00:00, 2023-04-09 00:00:00, 2023-04-10 00:00:00, ...]

[365 rows x 0 columns]
✅ Great job! Exercise completed successfully.

In [38]:
# Convert the time zone of the 'datetime' column in DataFrame `df_events`, from UTC to US/Eastern, storing result as `tz_adjusted_events`.
@check_pandas_85
def pandas_85(df_events):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_events)
    df_events['datetime'] = pd.to_datetime(df_events['datetime']).dt.tz_convert('UTC')
    tz_adjusted_events = df_events.copy()
    tz_adjusted_events['datetime'] = tz_adjusted_events['datetime'].dt.tz_convert('US/Eastern')
    print(tz_adjusted_events)
    # ABOVE GOES YOUR CODE
    return {"tz_adjusted_events": tz_adjusted_events}

pandas_85()

                   datetime
0 2023-01-01 00:00:00+00:00
1 2023-01-02 00:00:00+00:00
2 2023-01-03 00:00:00+00:00
3 2023-01-04 00:00:00+00:00
4 2023-01-05 00:00:00+00:00
                   datetime
0 2022-12-31 19:00:00-05:00
1 2023-01-01 19:00:00-05:00
2 2023-01-02 19:00:00-05:00
3 2023-01-03 19:00:00-05:00
4 2023-01-04 19:00:00-05:00
✅ Great job! Exercise completed successfully.

In [6]:
# Calculate the weekly rolling sum on DataFrame `df_financial_changes` for 'ChangeAmount', storing the result in `weekly_rolling_sum`.
@check_pandas_86
def pandas_86(df_financial_changes):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_financial_changes)
    weekly_rolling_sum = df_financial_changes['ChangeAmount'].rolling(window=7).sum()
    print(weekly_rolling_sum)
    # ABOVE GOES YOUR CODE
    return {"weekly_rolling_sum": weekly_rolling_sum}

pandas_86()

        Date  ChangeAmount
0 2023-01-01           100
1 2023-01-02           200
2 2023-01-03           300
3 2023-01-04           400
4 2023-01-05           500
5 2023-01-06           600
6 2023-01-07           700
7 2023-01-08           800
8 2023-01-09           900
9 2023-01-10          1000
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6    2800.0
7    3500.0
8    4200.0
9    4900.0
Name: ChangeAmount, dtype: float64
✅ Great job! Exercise completed successfully.

In [5]:
# Use the apply function along with a custom lambda to multiply the 'Rating' column by 2 in DataFrame `df_movie_ratings`, saving it as `scaled_ratings`.
@check_pandas_87
def pandas_87(df_movie_ratings):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_movie_ratings)
    df_movie_ratings['Rating'] = df_movie_ratings['Rating'] * 2
    scaled_ratings = df_movie_ratings
    print(scaled_ratings)
    # ABOVE GOES YOUR CODE
    return {"scaled_ratings": scaled_ratings}

pandas_87()

  Movie  Rating
0     A       5
1     B       4
2     C       3
  Movie  Rating
0     A      10
1     B       8
2     C       6
✅ Great job! Exercise completed successfully.

In [7]:
# Convert DataFrame `df_sequential` column 'Order' from int64 to int16 for memory efficiency, saving result as `optimized_sequential`.
@check_pandas_88
def pandas_88(df_sequential):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_sequential)
    df_sequential['Order'] = df_sequential['Order'].astype('int16')
    optimized_sequential = df_sequential
    print(optimized_sequential)
    # ABOVE GOES YOUR CODE
    return {"optimized_sequential": optimized_sequential}

pandas_88()

   Order Item
0      1    A
1      2    B
2      3    C
3      4    D
4      5    E
   Order Item
0      1    A
1      2    B
2      3    C
3      4    D
4      5    E
✅ Great job! Exercise completed successfully.

In [4]:
# Remove duplicate entries based on 'Email' in DataFrame `df_email_contacts`, storing deduplicated DataFrame as `unique_email_contacts`.
@check_pandas_89
def pandas_89(df_email_contacts):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_email_contacts)
    df_email_contacts.drop_duplicates(subset=['Email'], inplace=True)
    unique_email_contacts = df_email_contacts
    print(unique_email_contacts)
    # ABOVE GOES YOUR CODE
    return {"unique_email_contacts": unique_email_contacts}

pandas_89()

              Email     Name
0   first@gmail.com    Alice
1  second@gmail.com      Bob
2   first@gmail.com  Charlie
              Email   Name
0   first@gmail.com  Alice
1  second@gmail.com    Bob
✅ Great job! Exercise completed successfully.

In [2]:
# Perform string operation by replacing all occurrences of 'Inc.' with 'Incorporated' in the 'Company_Name' column of `df_business_registry`, storing result in `updated_business_registry`.
@check_pandas_90
def pandas_90(df_business_registry):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_business_registry)
    updated_business_registry = df_business_registry.copy()
    updated_business_registry['Company_Name'] = updated_business_registry['Company_Name'].str.replace('Inc.', 'Incorporated', regex=False)
    print(updated_business_registry)
    # ABOVE GOES YOUR CODE
    return {"updated_business_registry": updated_business_registry}

pandas_90()

  Company_Name
0     ABC Inc.
1     XYZ Inc.
       Company_Name
0  ABC Incorporated
1  XYZ Incorporated
✅ Great job! Exercise completed successfully.

In [13]:
# Select entries from DataFrame `df_jobs` with 'Role' ending in 'Engineer' using the query method, saving result as `engineer_roles`.
@check_pandas_91
def pandas_91(df_jobs):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_jobs)
    engineer_roles = df_jobs.query('Role.str.endswith("Engineer")')
    print(engineer_roles)
    # ABOVE GOES YOUR CODE
    return {"engineer_roles": engineer_roles}

pandas_91()

                Role
0  Software Engineer
1       Data Analyst
2   Network Engineer
                Role
0  Software Engineer
2   Network Engineer
✅ Great job! Exercise completed successfully.

In [32]:
# Group DataFrame `df_market_data` by 'Sector' and aggregate 'MarketCap' using the custom function to find the median, saving in `median_market_cap`.
@check_pandas_92
def pandas_92(df_market_data):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_market_data)
    median_market_cap = df_market_data.groupby('Sector')['MarketCap'].median()
    print(median_market_cap)
    # ABOVE GOES YOUR CODE
    return {"median_market_cap": median_market_cap}

pandas_92()

    Sector  MarketCap
0     Tech        100
1  Finance        200
2     Tech        300
3  Finance        400
Sector
Finance    300.0
Tech       200.0
Name: MarketCap, dtype: float64
✅ Great job! Exercise completed successfully.

In [12]:
# Use vectorized operations on DataFrame `df_portfolio`, to multiply every element in 'Shares' column by its corresponding 'Price', saving the result in `portfolio_value`.
@check_pandas_93
def pandas_93(df_portfolio):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_portfolio)
    portfolio_value = df_portfolio['Shares'] * df_portfolio['Price']
    print(portfolio_value)
    # ABOVE GOES YOUR CODE
    return {"portfolio_value": portfolio_value}

pandas_93()

   Shares  Price
0      10    100
1      20    200
2      30    300
0    1000
1    4000
2    9000
dtype: int64
✅ Great job! Exercise completed successfully.

In [42]:
# Add a 'ProfitMargin' column to DataFrame `df_sales_figures`, calculated as ('Profit' / 'Revenue') * 100 using vectorized operations, saving as `sales_with_margin`.
@check_pandas_94
def pandas_94(df_sales_figures):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_sales_figures)
    df_sales_figures['ProfitMargin'] = (df_sales_figures['Profit'] / df_sales_figures['Revenue']) * 100
    sales_with_margin = df_sales_figures
    print(sales_with_margin)
    # ABOVE GOES YOUR CODE
    return {"sales_with_margin": sales_with_margin}

pandas_94()

   Revenue  Profit  ProfitMargin
0      100      50           0.5
1      200     100           0.5
2      300     150           0.5
   Revenue  Profit  ProfitMargin
0      100      50          50.0
1      200     100          50.0
2      300     150          50.0
✅ Great job! Exercise completed successfully.

In [45]:
# Sort DataFrame `df_graduates` by 'GPA' in descending order, saving sorted DataFrame as `sorted_graduates`.
@check_pandas_95
def pandas_95(df_graduates):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_graduates)
    sorted_graduates = df_graduates.sort_values(by='GPA', ascending=False)
    print(sorted_graduates)
    # ABOVE GOES YOUR CODE
    return {"sorted_graduates": sorted_graduates}

pandas_95()

      Name  GPA
0    Alice  3.5
1      Bob  3.2
2  Charlie  3.8
      Name  GPA
2  Charlie  3.8
0    Alice  3.5
1      Bob  3.2
✅ Great job! Exercise completed successfully.

In [51]:
# Filter DataFrame `df_emissions` for 'Country' is 'USA' and 'Year' before 2000 using boolean conditions, saving result as `us_emissions_pre2000`.
@check_pandas_96
def pandas_96(df_emissions):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_emissions)
    us_emissions_pre2000 = df_emissions[(df_emissions['Country'] == "USA") & (df_emissions['Year'] < 2000)]
    print(us_emissions_pre2000)
    # ABOVE GOES YOUR CODE
    return {"us_emissions_pre2000": us_emissions_pre2000}

pandas_96()

  Country  Year
0     USA  1990
1     USA  2000
2   China  1990
  Country  Year
0     USA  1990
✅ Great job! Exercise completed successfully.

In [3]:
# Calculate the cumulative sum of 'Purchases' in DataFrame `df_shopper_history` grouped by 'Year', storing the result in `yearly_cumulative_purchases`.
@check_pandas_97
def pandas_97(df_shopper_history):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_shopper_history)
    yearly_cumulative_purchases = df_shopper_history.groupby('Year')['Purchases'].cumsum()
    print(yearly_cumulative_purchases)
    # ABOVE GOES YOUR CODE
    return {"yearly_cumulative_purchases": yearly_cumulative_purchases}

pandas_97()

   Year  Purchases
0  2021        100
1  2021        200
2  2022        300
3  2022        400
0    100
1    300
2    300
3    700
Name: Purchases, dtype: int64
✅ Great job! Exercise completed successfully.

In [6]:
# Create DataFrame `df_series_fan_following` with integers between 1000 and 5000 equally separated, indexed by monthly dates starting from '2022-01-01', till '2022-05-01', with column name 'Fans' and frequency 'MS'.
@check_pandas_98
def pandas_98():
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    date_range = pd.date_range(start='2022-01-01', end='2022-05-01', freq='MS')
    fans_values = np.linspace(1000, 5000, num=len(date_range)).astype(int)
    df_series_fan_following = pd.DataFrame({'Fans': fans_values}, index=date_range)
    print(df_series_fan_following)
    # ABOVE GOES YOUR CODE
    return {"df_series_fan_following": df_series_fan_following}

pandas_98()

            Fans
2022-01-01  1000
2022-02-01  2000
2022-03-01  3000
2022-04-01  4000
2022-05-01  5000
✅ Great job! Exercise completed successfully.

In [8]:
# Calculate difference in 'ClosingPrice' from previous day in DataFrame `df_stock_prices`, storing result as `closing_price_diff`.
@check_pandas_99
def pandas_99(df_stock_prices):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_stock_prices)
    closing_price_diff = df_stock_prices['ClosingPrice'].diff(periods=1)
    print(closing_price_diff)
    # ABOVE GOES YOUR CODE
    return {"closing_price_diff": closing_price_diff}

pandas_99()

        Date  ClosingPrice
0 2022-01-01           100
1 2022-01-02           110
2 2022-01-03           120
3 2022-01-04           130
4 2022-01-05           140
0     NaN
1    10.0
2    10.0
3    10.0
4    10.0
Name: ClosingPrice, dtype: float64
✅ Great job! Exercise completed successfully.

In [11]:
# Merge DataFrames `df_social_media_insights` and `df_campaign_performance` on 'CampaignID', using outer method saving result as `merged_campaign_data`.
@check_pandas_100
def pandas_100(df_social_media_insights, df_campaign_performance):
    # This line is mandatory and should not be removed.
    ex_stat_init = True

    # BELOW GOES YOUR CODE
    print(df_social_media_insights)
    print(df_campaign_performance)
    merged_campaign_data = pd.merge(df_social_media_insights, df_campaign_performance, on='CampaignID', how='outer')
    print(merged_campaign_data)
    # ABOVE GOES YOUR CODE
    return {"merged_campaign_data": merged_campaign_data}

pandas_100()

   CampaignID  Clicks
0           1     100
1           2     200
   CampaignID  Conversions
0           2           10
1           3           20
   CampaignID  Clicks  Conversions
0           1   100.0          NaN
1           2   200.0         10.0
2           3     NaN         20.0
✅ Great job! Exercise completed successfully.